<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Xavisas Todo list</title>
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <style>[ng-cloak] {display: none;}</style>
    </head>
    <body ng-app="xavisasList" ng-controller="xavisasController">
        <h1 title-directive></h1>
        <section>
            <form ng-submit="addTodo()">
                <input type="text" name="addTodo" placeholder="Add todo action" ng-model="newTodo">
            </form>
            <div>
                <ul>
                   <li ng-repeat="todo in todoList">
                       <div>
                           <input type="checkbox">
                           <label>{{ todo.action }}</label>
                        </div>
                   </li> 
                </ul>
                
            </div>
            <div>
                
            </div>
        </section>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/xavisasController.js"></script>
        <script src="js/titleDirective.js"></script>
    </body>
</html>